/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: 'Arial', sans-serif;
  /* Light background for the page */
  min-height: 100vh;

}

/* Container for centering the login box */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

/* Styling the login box */
.login-box {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  /* Light shadow */
  max-width: 400px;
  width: 100%;
}

/* Heading styles */
.login-box h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Input and Label styles */
.login-box label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  color: #333;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fafafa;
  transition: border-color 0.3s ease;
}

/* Change input border color on focus */
.login-box input:focus {
  border-color: #6d5dfc;
  outline: none;
}

/* Button styles */
.login-box button {
  width: 100%;
  padding: 10px;
  background-color: #6d5dfc;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-box button:hover {
  background-color: #574bfc;
  /* Darken on hover */
}

/*Recipe page*/
.home {
  background-color: white;
  height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.logo-div {
  height: auto;
  width: 100%;
  display: flex;
  background-color: white;
  justify-content: center;
}

.home img {
  width: 400px;
  height: 400px;
}

.home button {
  color: white;
  background-color: #2367b0;
  font-weight: bold;
  font-size: 22px;
  padding: 10px 20px;
  height: 60px;
  border: 2px solid black;

}

.show-note {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}

.show-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}

.show-allergen {
  font-size: 18px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-allergen label {
  margin: 5px 0;
}

.show-allergen h1 {
  font-size: 25px;
  margin-bottom: 10px;
}

.allergen-results {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-allergen-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-allergen select {
  width: 200px;
  height: 40px;
  font-size: 18px;
  margin: 10px 0;
}

.checkbox-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
}



.show-note button,
.show-allergen button {
  background-color: #be2d10;
  font-size: 16px;
  margin: 10px 0;
}

.show-note input {
  width: 100%;
  height: 60px;
}

.home-column {
  display: flex;
  flex-direction: column;
}

.top {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.top button {
  padding: 30px 50px;
  height: 50px;
  background-color: #be2d10;
  color: white;
  border: 2px solid black;
  font-size: 22px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 20px 30px;
}


.home h1 {
  color: black;
  font-weight: bold;
  text-align: center;
}

.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;

}

.back-button {
  width: 75px;
  height: 50px;
  background-color: #be2d10;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 0px;
}

.recipes-top {
  margin-top: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.recipes-top input {
  width: 100%;
  height: 40px;
  font-size: 18px;
  margin: 20px 0;
}

.recipes-top button {
  background-color: #be2d10;
  color: white;
  border: 2px solid black;
  font-size: 22px;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 30px;
}

.back-button:hover {
  background-color: #be2d10cc;
  /* Darken on hover */
}

.recipes {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin-top: 0;
  text-align: center;
  justify-content: center;
  width: 100%;
}


.recipes ul,
.recipes li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recipes ul,
.recipes li {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  text-align: center;
  justify-content: center;

}

.recipes h3 {
  margin-bottom: 20px;
  font-size: 25px;
}

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.recipe-box {
  background: #2367b0;
  color: white;
  padding: 30px 20px;
  border: 2px solid black;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.recipe-box:hover {
  background: #be2d10;
  border-color: #aaa;
  transform: scale(1.03);
}

.recipe-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  color: black;
  padding: 20px;
  text-align: center;
  font-size: 25px;
  width: 100%;
}

.recipe-details p {
  margin: 20px;
}

.recipe-details input {
  margin: 20px;
  width: 100%;
  height: 40px;
  font-size: 18px;
}

.sub-ingredient {
  cursor: pointer;
  color: #2367b0;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 5px;
  padding: 3px 6px;
  border-radius: 5px;
  text-align: center;
}

.sub-ingredient:hover {
  background-color: #be2d10;
  color: white;
}

.recipe-details button {
  padding: 20px 40px;
  height: 50px;
  background-color: #be2d10;
  color: white;
  border: 2px solid black;
  font-size: 22px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 20px 30px;
}